{% extends "base.html" %}

{%block content%}
<div class="row mx-auto g-4 my-3">
  {% for meal in meals %}
  <div class="col-4 card mx-2" style="width: 18rem">
    <img src="{{meal.strMealThumb}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{meal.strMeal}}</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore amet
        neque harum? Doloremque ab neque qui aperiam blanditiis voluptatibus
        minima!
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
